/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.stroke-black {
  stroke: black;
}

@variants hover {
  .stroke-width-3 {
    stroke-width: 3;
  }
}

.bg-fade {
  background-color: #9b9b9bc9;
}
